/* .App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.contactInfo p {
  line-height: 30px;
}

.sameHeight {
  display: flex;
  flex-direction: row;
  flex-flow: wrap;
  justify-content: space-between;
  align-items: stretch;

}

.wrap-content {
  margin-top: 50px;
  margin-bottom: 50px;
}

.avatarImg img {
  display: block;
  margin: 0 auto;
  margin-top: 10px;
  max-width: 400px;
}

.social i {
  padding: 2px;
  color: rgb(68, 68, 68);
}

.mt {
  margin-top: 20px;
}

.pt {
  padding-top: 10px;
}

.h5 {
  font-size: 30px;
  padding-bottom: 10px;
}

.h6 span {
  float: right;
  font-size: 14px;
}

@media only screen and (max-width: 992px){
  .social i {
    padding: 2px;
    color: #fff;
  }
}

@media only screen and (max-width: 420px){
  h2 {
    font-size: 30px;
  }
  h5 {
    font-size: 18px;
    padding-bottom: 10px;
  }
  h6 {
    padding-bottom: 15px;
    line-height: 140%;
  }
  h6 strong{
    display: block;
  }
  h6 span{
    float: left;
    font-size: 90%;
  }
  .avatarImg img {
    max-width: 200px;
  }
}